.dataViewContainer {
  min-height: 0;
}

.placeholderText {
  color: grey;
  text-align: center;
  margin-top: 1em !important;
}

.dataview-dark-theme .js-plotly-plot .gridlayer path {
  stroke: #424242 !important;
}
