.appbar-menu-container > * {
    vertical-align: middle;
    display: inline-block;
}
.appbar-menu-container > .kobra-header {
    flex-grow: 1;
}
.appbar-menu-container > *:nth-child(2) {
    margin-right: 0.75rem;
}