name: package ci
on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 14
            - run: yarn
    automerge:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - uses: fastify/github-action-merge-dependabot@v1
              if: ${{ github.actor == 'dependabot[bot]' && github.event_name == 'pull_request' }}
              with:
                  github-token: ${{secrets.github_token}}
